<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>文章发表页</title>
  <link rel="stylesheet" href="/view/css/base.css">
  <link rel="stylesheet" href="/view/css/add-articles.css">
 </head>
 <body>
	<article class='add-article'>
		<section class='add-art-main'>
			<header class='add-art-head'>
				<span>文章编辑</span>
			</header>
			<section class='add-art-content'>
				<form action=''class='add-con-mass'>
					<section class='con-mass-head fix'>
						<section class='con-mass-type'>
							<div class='mass-type-title'>
								文章类型
							</div>
							<input type='text' disabled class='art-type-val'/>
							<div class='mass-type-val'>
							请选择
							<ul class='mass-type-options unative'>
								<li>请选择</li>
								<li>nodejs</li>
								<li>vue</li>
								<li>react</li>
								<li>angular</li>
							</ul>
							</div>
						</section>
						<div class='con-mass-title fix'>
							<div class='mass-title'>
								<div class='mass-art-title'>
									标题
								</div>
								<input type='text'class='art-title-val'/>
							</div>
						
						</div>
					</section>
					<section class='mass-main-util fix'>
						<div class='util-font'>
							<ul >
								<li class='font-wei' title='加粗'>B</li>
								<li class='font-ita' title='倾斜'>I</li>
								<li class='text-underline' title='下划线'>U</li>
								<li class='text-through' title='删除线'>D</li>
							</ul>
						</div>
						<div class='util-ari'>
							<i class="layui-icon layedit-tool-left" title="左对齐"></i>
							<i class="layui-icon layedit-tool-center" title="居中对齐"></i>
							<i class="layui-icon layedit-tool-right" title="右对齐"></i>
						</div>
						<div class='util-oth'>
							<i class="layui-icon layedit-tool-link" title="插入链接" ></i>
							<i class="layui-icon layedit-tool-unlink layui-disabled" title="清除链接" ></i>
							<i class="layui-icon layedit-tool-face" title="表情"></i>
						</div>
					
					</section>
					<section class='mass-main-textarea'>
						<textarea class='textarea-val' required></textarea> 
					</section>
					<input type='submit' class='add-art-sub' value='立即发布'/>
				</form>
			
			</section>
		</section>
	</article>
 </body>
</html>
