<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;URL = http://localhost:1204">
    <title>Title</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/nav.css">
    <style>
        .tip-reg{
            margin-top: 20px;
            color:red;
            font-size: 30px;
            font-weight: bold;
            text-align:center;
        }
    </style>
</head>
<body>
<header class="blog-header">
    <div class="header-container fix">
        <ul class="head-nav">
            <li><a href="/">
                <i class="layui-icon layui-icon-home head-nav-icon"></i>
                首页</a></li>
            <li><a href="">Web</a></li>
            <li><a href="">大数据</a></li>
            <li><a href="">Java</a></li>
            <li><a href="">Python</a></li>
            <li><a href="">关于</a></li>
        </ul>
        <ul class="head-login-status ative">
            <li><a class="head-login" >登录</a></li>
            <li><a class="head-reg" href="/view/register.html">注册</a></li>
        </ul>
    </div>
</header>
<p class="tip-reg">注册成功!!</p>
</body>
</html>